﻿@model IEnumerable<ABCCompanies.Models.ViewModel.CompanyViewModel>

<div class="col-xl-12">
    <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Companies</h6>
            @if (User.IsInRole("CanCreate")) {
                <a href="#" class="btn btn-circle" id="add-new-company-button">
                    <i class="fas fa-plus"></i>
                </a>
            }
            </div>
        <!-- Card Body -->
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Logo</th>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Web</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model) {
                        <tr class="company-row" data-company-id="@item.Id">
                            <td>
                                <img src="@item.Logo" class="rounded float-left company-image-small" />
                            </td>
                            <td>@item.Name</td>
                            <td>@item.Email</td>
                            <td>@item.WebSite</td>
                            <td>
                                @if (User.IsInRole("CanUpdate")) {
                                    <a href="#" class="btn btn-secondary btn-circle btn-sm edit-company-button">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                }
                                @if (User.IsInRole("CanRead")) {
                                    <a href="#" class="btn btn-primary btn-circle btn-sm show-employees-button">
                                        <i class="fas fa-users"></i>
                                    </a>
                                }
                                @if (User.IsInRole("CanDelete")) {
                                    <a href="@Url.Action("Delete", "Company", new { id = item.Id })" class="btn btn-danger btn-circle btn-sm delete-company-button" 
                                       onclick="return confirm('Are you sure to delete this company?')">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    function showEmployees(companyId) {
        showEmployeeDrawer();
        $.ajax({
            type: "GET",
            url: '@Url.Action("GetEmployeesByCompanyId", "Employee")',
            data: { companyId: companyId },
            contentType: "application/json; charset=utf-8",
            success: function (reponse) {
                $('#employee-drawer').find('.drawer-body').html(reponse);
                $('#employee-list-card').attr('data-company-id', companyId);
            },
            error: function () {
            }
        });
    }
</script>