﻿@model ABCCompanies.Models.ViewModel.CompanyViewModel

@using (Html.BeginForm("Edit", "Company", FormMethod.Post, new { id = "add-new-company-form", enctype = "multipart/form-data" })) {

    @Html.HiddenFor(model => model.Id);
    <div class="form-group">
        <label for="company-name">Name</label>
        @Html.TextBoxFor(model => model.Name, new { @type = "text", @class = "form-control", id = "company-name", required = "required" })
    </div>
    <div class="form-group">
        <label for="company-email">email</label>
        @Html.TextBoxFor(model => model.Email, new { @type = "email", @class = "form-control", id = "company-email", required = "required" })
    </div>
    <div class="form-group">
        <label for="company-web">Web</label>
        @Html.TextBoxFor(model => model.WebSite, new { @type = "text", @class = "form-control", id = "company-email" })
    </div>
    <div class="form-group">
        <label for="company-web">Logo</label>
        <input type="file" name="LogoFile" accept='image/*' />
    </div>


    <button type="submit" class="btn btn-primary" @(!User.IsInRole("CanCreate") ? "disabled" : null)>Save</button>
    <button type="reset" class="btn btn-warning">Clear</button>
}
