﻿
@{
    ViewBag.Title = "Manage Companies";
    Layout = "~/Views/Shared/_Layout.cshtml";    
}

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">@ViewBag.Title</h1>
</div>

@{
    Html.RenderAction("GetCompaniesListPartial", "Company");
}

