﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Vendor/fontawesome")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <!-- Custom fonts for this template-->
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

</head>
<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">
        <!-- Sidebar -->
        <ul class="navbar-nav bg-gray-900 sidebar sidebar-dark accordion" id="accordionSidebar">
            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                <div class="sidebar-brand-icon">
                    <i class="fas fa-building"></i>
                </div>
                <div class="sidebar-brand-text mx-3">ABC Companies</div>
            </a>
            <!-- Divider -->
            <hr class="sidebar-divider my-0">
            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="@Url.Action("Index", "Home")">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <!-- Divider -->
            <hr class="sidebar-divider">
            <!-- Heading -->
            <div class="sidebar-heading">
                Interface
            </div>
            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index", "Company")">
                    <i class="fas fa-fw fa-building"></i>
                    <span>Companies</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index", "Employee")">
                    <i class="fas fa-fw fa-user-tie"></i>
                    <span>Employees</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index", "User")">
                    <i class="fas fa-fw fa-user-shield"></i>
                    <span>Users</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index", "SecurityProfile")">
                    <i class="fas fa-fw fa-eye"></i>
                    <span>Security Profiles</span>
                </a>
            </li>
            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">
            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>
        </ul>
        <!-- End of Sidebar -->
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                @{ Html.RenderAction("RendererTopBar", "Home"); }
                <div class="container-fluid">
                    @{ Html.RenderPartial("_Messages"); }
                    @RenderBody()
                </div>
            </div>
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; @DateTime.Now.Year - ABC Companies</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->
        </div>
    </div>

    <div id="employee-drawer" class="drawer-conatainer">
        <div class="drawer-component hidden">
            <div class="drawer-header">
                <div class="row">
                    <div class="col-xl-11">
                        <span>Company Employees</span>
                    </div>
                    <div class="col-xl-1">
                        <a href="#" class="btn btn-circle drawer-close-button">
                            <i class="fas fa-window-close"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="drawer-body pt-3">

            </div>
        </div>
        <div class="drewer-overlay hidden"></div>
    </div>

    <div id="add-company-drawer" class="drawer-conatainer">
        <div class="drawer-component hidden">
            <div class="drawer-header">
                <div class="row">
                    <div class="col-xl-11">
                        <span>Add New Company</span>
                    </div>
                    <div class="col-xl-1">
                        <a href="#" class="btn btn-circle drawer-close-button">
                            <i class="fas fa-window-close"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="drawer-body p-3">
                @{ Html.RenderPartial("~/Views/Company/_AddCompany.cshtml", new ABCCompanies.Models.ViewModel.CompanyViewModel()); }
            </div>
        </div>
        <div class="drewer-overlay hidden"></div>
    </div>

    <div id="edit-company-drawer" class="drawer-conatainer">
        <div class="drawer-component hidden">
            <div class="drawer-header">
                <div class="row">
                    <div class="col-xl-11">
                        <span>Edit Company</span>
                    </div>
                    <div class="col-xl-1">
                        <a href="#" class="btn btn-circle drawer-close-button">
                            <i class="fas fa-window-close"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="drawer-body p-3">
                @Html.Partial("~/Views/Company/_AddCompany.cshtml", new ABCCompanies.Models.ViewModel.CompanyViewModel());)
            </div>
        </div>
        <div class="drewer-overlay hidden"></div>
    </div>

    <div id="add-employee-drawer" class="drawer-conatainer">
        <div class="drawer-component hidden">
            <div class="drawer-header">
                <div class="row">
                    <div class="col-xl-11">
                        <span>Add New Employee</span>
                    </div>
                    <div class="col-xl-1">
                        <a href="#" class="btn btn-circle drawer-close-button">
                            <i class="fas fa-window-close"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="drawer-body p-3">

            </div>
        </div>
        <div class="drewer-overlay hidden"></div>
    </div>

    <div id="edit-employee-drawer" class="drawer-conatainer">
        <div class="drawer-component hidden">
            <div class="drawer-header">
                <div class="row">
                    <div class="col-xl-11">
                        <span>Edit Employee</span>
                    </div>
                    <div class="col-xl-1">
                        <a href="#" class="btn btn-circle drawer-close-button">
                            <i class="fas fa-window-close"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="drawer-body p-3">

            </div>
        </div>
        <div class="drewer-overlay hidden"></div>
    </div>

    <div id="add-user-drawer" class="drawer-conatainer">
        <div class="drawer-component hidden">
            <div class="drawer-header">
                <div class="row">
                    <div class="col-xl-11">
                        <span>Add New User</span>
                    </div>
                    <div class="col-xl-1">
                        <a href="#" class="btn btn-circle drawer-close-button">
                            <i class="fas fa-window-close"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="drawer-body p-3">

            </div>
        </div>
        <div class="drewer-overlay hidden"></div>
    </div>

    <div id="edit-user-drawer" class="drawer-conatainer">
        <div class="drawer-component hidden">
            <div class="drawer-header">
                <div class="row">
                    <div class="col-xl-11">
                        <span>Edit User</span>
                    </div>
                    <div class="col-xl-1">
                        <a href="#" class="btn btn-circle drawer-close-button">
                            <i class="fas fa-window-close"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="drawer-body p-3">

            </div>
        </div>
        <div class="drewer-overlay hidden"></div>
    </div>

    <div id="add-security-profile-drawer" class="drawer-conatainer">
        <div class="drawer-component hidden">
            <div class="drawer-header">
                <div class="row">
                    <div class="col-xl-11">
                        <span>Add New Security profile</span>
                    </div>
                    <div class="col-xl-1">
                        <a href="#" class="btn btn-circle drawer-close-button">
                            <i class="fas fa-window-close"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="drawer-body p-3">
                @Html.Partial("~/Views/SecurityProfile/_AddSecurityProfile.cshtml", new ABCCompanies.Models.ViewModel.SecurityProfileViewModel());)
            </div>
        </div>
        <div class="drewer-overlay hidden"></div>
    </div>

    <div id="edit-security-profile-drawer" class="drawer-conatainer">
        <div class="drawer-component hidden">
            <div class="drawer-header">
                <div class="row">
                    <div class="col-xl-11">
                        <span>Edit Security profile</span>
                    </div>
                    <div class="col-xl-1">
                        <a href="#" class="btn btn-circle drawer-close-button">
                            <i class="fas fa-window-close"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="drawer-body p-3">

            </div>
        </div>
        <div class="drewer-overlay hidden"></div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/sbadmin")
    @Scripts.Render("~/bundles/site")
    @RenderSection("scripts", required: false)

<script>
        function getAddEmployeeDrawerContent(companyId) {
          if (companyId == '') {
                companyId = 0;
          }
          $.ajax({
            type: "GET",
            url: '@Url.Action("GetAddEmployeePartial", "Employee")',
            data: { companyId: companyId },
            contentType: "application/json; charset=utf-8",
            success: function (reponse) {
                $('#add-employee-drawer').find('.drawer-body').html(reponse);
            },
            error: function () {
                alert(e.Message);
            }
          });
        }

        function getAddUserDrawerContent() {
          $.ajax({
            type: "GET",
            url: '@Url.Action("GetAddUserPartial", "User")',
            contentType: "application/json; charset=utf-8",
            success: function (reponse) {
                $('#add-user-drawer').find('.drawer-body').html(reponse);
            },
            error: function () {
                alert(e.Message);
            }
          });
        }

        function getEditCompanyDrawerContent(companyId) {
          $.ajax({
            type: "GET",
            url: '@Url.Action("Edit", "Company")',
            data: { id: companyId },
            contentType: "application/json; charset=utf-8",
            success: function (reponse) {
               $('#edit-company-drawer').find('.drawer-body').html(reponse);
            },
            error: function (e) {
               alert(e.Message);
            }
          });
        }

        function getEditEmployeeDrawerContent(employeeId) {
          $.ajax({
            type: "GET",
            url: '@Url.Action("Edit", "Employee")',
            data: { id: employeeId },
            contentType: "application/json; charset=utf-8",
            success: function (reponse) {
                $('#edit-employee-drawer').find('.drawer-body').html(reponse);
            },
            error: function (e) {
               alert(e.Message);
            }
          });
        }

        function getEditSecurityProfileDrawerContent(profileId) {
           $.ajax({
            type: "GET",
            url: '@Url.Action("Edit", "SecurityProfile")',
            data: { id: profileId },
            contentType: "application/json; charset=utf-8",
            success: function (reponse) {
                $('#edit-security-profile-drawer').find('.drawer-body').html(reponse);
            },
            error: function (e) {
               alert(e.Message);
            }
          });
        }

         function getEditUserDrawerContent(userId) {
           $.ajax({
            type: "GET",
            url: '@Url.Action("Edit", "User")',
            data: { id: userId },
            contentType: "application/json; charset=utf-8",
            success: function (reponse) {
                $('#edit-user-drawer').find('.drawer-body').html(reponse);
            },
            error: function (e) {
               alert(e.Message);
            }
          });
        }
</script>
</body>
</html>
