﻿@if (TempData["ErrorMessages"] != null) {
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Error !. </strong>@TempData["ErrorMessages"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
@if (TempData["Messages"] != null) {
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Success !. </strong>@TempData["Messages"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
