﻿@model ABCCompanies.Models.ViewModel.UserViewModel

@using (Html.BeginForm("Add", "User", FormMethod.Post, new { id = "add-new-user-form" })) {
    <div class="form-group">
        <label for="user-first-name">First Name</label>
        @Html.TextBoxFor(model => model.FirstName, new { @type = "text", @class = "form-control", id = "user-first-name", required = "required" })
    </div>
    <div class="form-group">
        <label for="user-last-name">Last Name</label>
        @Html.TextBoxFor(model => model.LastName, new { @type = "text", @class = "form-control", id = "user-last-name", required = "required" })
    </div>
    <div class="form-group">
        <label for="user-email">Email</label>
        @Html.TextBoxFor(model => model.Email, new { @type = "email", @class = "form-control", id = "user-email", required = "required" })
    </div>
    <div class="form-group">
        <label for="user-security-profile">Security Profile</label>
        @Html.DropDownListFor(m => m.SecurityProfile.Id, new SelectList(Model.AvailableSecurityProfiles, "Id", "Name"), 
                              new { id = "user-security-profile", @class = "form-control", required = "required" })
    </div>
    <div class="form-group">
        <label for="user-password">Password</label>
        @Html.TextBoxFor(model => model.Password, new { @type = "password", @class = "form-control", id = "user-password" })
    </div>
    <div class="form-group">
        <label for="validate-user-password">Re-Type password</label>
        @Html.TextBoxFor(model => model.ValidatePassword, new { @type = "password", @class = "form-control", id = "validate-user-password" })
    </div>

    <button type="submit" class="btn btn-primary" @(!User.IsInRole("CanCreate") ? "disabled" : null)>Save</button>
    <button type="reset" class="btn btn-warning">Clear</button>
}

