﻿@model IEnumerable<ABCCompanies.Models.ViewModel.UserViewModel>

<div class="col-xl-12">
    <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Users</h6>
            @if (User.IsInRole("CanCreate")) {
                <a href="#" class="btn btn-circle" id="add-new-user-button">
                    <i class="fas fa-plus"></i>
                </a>
            }
        </div>
        <!-- Card Body -->
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Security Profile</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model) {
                    <tr class="user-row" data-user-id="@item.Id">
                        <td>@item.FirstName</td>
                        <td>@item.LastName</td>
                        <td>@item.Email</td>
                        <td>@item.SecurityProfile.Name</td>
                        <td>
                            @if (User.IsInRole("CanUpdate")) {
                                <a href="#" class="btn btn-secondary btn-circle btn-sm edit-user-button">
                                    <i class="fas fa-edit"></i>
                                </a>
                            }
                            @if (User.IsInRole("CanDelete")) {
                                <a href="@Url.Action("Delete", "User", new { id = item.Id })" id="delete-user-button" class="btn btn-danger btn-circle btn-sm"
                                    onclick="return confirm('Are you sure to delete this user ?')">
                                    <i class="fas fa-trash"></i>
                                </a>
                            }
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
