﻿.drawer-conatainer {
    position: relative;
    height: 100%;
    width: 100%;
}

.drawer-component {
    position: fixed;
    top: 0;
    right: 0;
    background: #fff;
    height: 100%;
    width: 750px;
    border-left: solid 1px #d8d8d8;
    z-index: 9;
}

.drewer-overlay {
    position: fixed;
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    z-index: 5;
    top: 0;
    left: 0;
}
.drawer-header {
    background: #999;
    color: #fff;
    padding: 5px 30px 0px 15px;
}

    .drawer-header span {
        font-size: xx-large;
    }

    .drawer-header .btn {
        color: #fff;
    }

.hidden {
    display:none;
}

.company-image-small {
    width : 50px;
}

.company-image-medium {
    width: 100px;
}