﻿@model ABCCompanies.Models.ViewModel.EmployeeViewModel

@using (Html.BeginForm("Edit", "Employee", FormMethod.Post, new { id = "edit-employee-form" }))
{
    @Html.HiddenFor(model => model.Id)
    <div class="form-group">
        <label for="employee-first-name">First Name</label>
        @Html.TextBoxFor(model => model.FirstName, new { @type = "text", @class = "form-control", id = "employee-first-name", required = "required" })
    </div>
    <div class="form-group">
        <label for="employee-last-name">Last Name</label>
        @Html.TextBoxFor(model => model.LastName, new { @type = "text", @class = "form-control", id = "employee-last-name", required = "required" })
    </div>
    <div class="form-group">
        <label for="employee-email">Email</label>
        @Html.TextBoxFor(model => model.Email, new { @type = "email", @class = "form-control", id = "employee-email" })
    </div>
    <div class="form-group">
        <label for="employee-phone">Phone</label>
        @Html.TextBoxFor(model => model.Phone, new { @type = "tel", @class = "form-control", id = "employee-phone" })
    </div>
    <div class="form-group">
        <label for="inputState">Company</label>
        @Html.DropDownListFor(m => m.Company.Id, new SelectList(Model.AvailableCompanies, "Id", "Name"), new { @class = "form-control", required = "required" })        
    </div>
    <button type="submit" class="btn btn-primary" @(!User.IsInRole("CanCreate")? "disabled" : null)>Save</button>
    <button type="reset" class="btn btn-warning">Clear</button>
}
