﻿@model IEnumerable<ABCCompanies.Models.ViewModel.EmployeeViewModel>

<div class="col-xl-12" id="employee-list-card" data-company-id="">
    <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Employees</h6>
            @if (User.IsInRole("CanCreate")) {
                <a href="#" class="btn btn-circle" id="add-new-member-button">
                    <i class="fas fa-plus"></i>
                </a>
            }
        </div>
        <!-- Card Body -->
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Phone</th>
                        <th scope="col">Company Name</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model) {
                        <tr class="employee-row" data-employee-id="@item.Id">
                            <td>@item.FirstName</td>
                            <td>@item.LastName</td>
                            <td>@item.Email</td>
                            <td>@item.Phone</td>
                            <td>@item.Company.Name</td>
                            <td>
                                @if (User.IsInRole("CanUpdate")) {
                                    <a href="#" class="btn btn-secondary btn-circle btn-sm edit-employees-button">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                }
                                @if (User.IsInRole("CanDelete")) {
                                    <a href="@Url.Action("Delete", "Employee", new { id = item.Id })" class="btn btn-danger btn-circle btn-sm delete-employee-button"
                                       onclick="return confirm('Are you sure to delete this employee?')">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    initDrawerEvents();
</script>