﻿@model ABCCompanies.Models.ViewModel.SecurityProfileViewModel

@using (Html.BeginForm("Add", "SecurityProfile", FormMethod.Post, new { id = "add-new-security-profile-form" })) {
    <div class="form-group">
        <label for="profile-name">Profile Name</label>
        @Html.TextBoxFor(model => model.Name, new { @type = "text", @class = "form-control", id = "profile-name", required = "required" })
    </div>
    <div class="form-group">
        <div class="form-check form-check-inline">
            @Html.CheckBoxFor(model => model.CanCreate, new { @class = "form-check-input", id = "profile-can-create" })
            <label class="form-check-label" for="profile-can-create">Can Create</label>
        </div>
        <div class="form-check form-check-inline">
            @Html.CheckBoxFor(model => model.CanRead, new { @class = "form-check-input", id = "profile-can-read" })
            <label class="form-check-label" for="profile-can-read">Can Read</label>
        </div>
        <div class="form-check form-check-inline">
            @Html.CheckBoxFor(model => model.CanUpdate, new { @class = "form-check-input", id = "profile-can-update" })
            <label class="form-check-label" for="profile-can-update">Can Update</label>
        </div>
        <div class="form-check form-check-inline">
            @Html.CheckBoxFor(model => model.CanDelete, new { @class = "form-check-input", id = "profile-can-delete" })
            <label class="form-check-label" for="profile-can-delete">Can Delete</label>
        </div>
    </div>
    <button type="submit" class="btn btn-primary" @(!User.IsInRole("CanCreate") ? "disabled" : null)>Save</button>
    <button type="reset" class="btn btn-warning">Clear</button>
}

