﻿@model IEnumerable<ABCCompanies.Models.ViewModel.SecurityProfileViewModel>

<div class="col-xl-12">
    <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Security Profiles</h6>
            @if (User.IsInRole("CanCreate")) {
                <a href="#" class="btn btn-circle" id="add-security-profile-button">
                    <i class="fas fa-plus"></i>
                </a>
            }
        </div>
        <!-- Card Body -->
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Can Create</th>
                        <th scope="col">Can Read</th>
                        <th scope="col">Can Update</th>
                        <th scope="col">Can Delete</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model) {
                    <tr class="security-profile-row" data-security-profile-id="@item.Id">
                        <td>@item.Name</td>
                        <td><i class="fas @(item.CanCreate? "text-success fa-check-circle" : "text-danger fa-minus-circle")"></i></td>
                        <td><i class="fas @(item.CanRead? "text-success fa-check-circle" : "text-danger fa-minus-circle")"></i></td>
                        <td><i class="fas @(item.CanUpdate? "text-success fa-check-circle" : "text-danger fa-minus-circle")"></i></td>
                        <td><i class="fas @(item.CanDelete? "text-success fa-check-circle" : "text-danger fa-minus-circle")"></i></td>
                        <td>
                            @if (User.IsInRole("CanUpdate")) {
                                <a href="#" class="btn btn-secondary btn-circle btn-sm edit-security-profile-button">
                                    <i class="fas fa-edit"></i>
                                </a>
                            }
                            @if (User.IsInRole("CanDelete")) {
                                <a href="@Url.Action("Delete", "SecurityProfile", new { id = item.Id })" class="btn btn-danger btn-circle btn-sm delete-security-profile-button"
                                   onclick="return confirm('Are you sure to security profile this company?')"> 
                                    <i class="fas fa-trash"></i>
                                </a>
                            }
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
