﻿
@{
    ViewBag.Title = "UnAuthorized";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>401 Unauthorized</h2>
<h6>User doesn't have correct permission to access this page. Please contact administrator.</h6>

